#Problem 1

a) Write a function `letters2numbers` that converts a string to a list of numbers, where space = 0, a = 1, b = 2, and so on.

Example:

* `letters2numbers('a cat')` $\rightarrow$ `[1,0,3,1,20]`

b) Write a function `numbers2letters` that converts a list of numbers to the corresponding string.

Example:

* `numbers2letters([1,0,3,1,20])` $\rightarrow$ `'a cat'`

#Problem 2

Write a function `isSymmetric` that checks if a string reads the same forwards and backwards.

Examples:
* `isSymmetric('racecar')` $\rightarrow$ `True`
* `isSymmetric('batman')` $\rightarrow$ `False`

#Problem 3

a) Write a function `convertToBase10` that converts a number from base-2 to base-10.

Example:

* `convertToBase10(10011)` $\rightarrow$ `19` because $1 \cdot 2^{4} + 0 \cdot 2^3 + 0 \cdot 2^2 + 1 \cdot 2^1 + 1 \cdot 2^0 = 19$

b) Write a function `convertToBase2` that converts a number from base-10 to base-2.

Example:

* `convertToBase2(19)` $\rightarrow$ `10011`

#Problem 4

Write a function `isPrime` that checks if a number is prime. 

Examples:
* `isPrime(59)` $\rightarrow$ `True`
* `isPrime(51)` $\rightarrow$ `False`

Hint: Check for divisibility within a for loop.